In [20]:
DATA_PATH = 'D:/Data Science/Airbnb-New-User-Bookings/data/raw/train_users_2.csv/train_users_2.csv'

In [21]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 10000

In [23]:
raw_df = pd.read_csv(DATA_PATH)
raw_df.shape

(213451, 16)

In [24]:
raw_df.sample()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
3036,q87pckw9yx,2011-01-24,20110124172649,2011-01-31,-unknown-,NaN,basic,0,en,sem-brand,google,NaN,Web,Other/Unknown,-unknown-,US

In [25]:
raw_df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [26]:
# Display random answer 
# Observations: Multiple answers need to be splitted 
# Reference to the schema needed to understand
raw_df.sample(1).iloc[0]

id                             9tkxb4mh89
date_account_created           2013-09-19
timestamp_first_active     20130919091839
date_first_booking                    NaN
gender                          -unknown-
age                                   NaN
signup_method                       basic
signup_flow                             0
language                               en
affiliate_channel                  direct
affiliate_provider                 direct
first_affiliate_tracked               omg
signup_app                            Web
first_device_type             Mac Desktop
first_browser                      Safari
country_destination                   NDF
Name: 109029, dtype: object

In [27]:
# Print the general information of the data frame 
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       213451 non-null  object
 1   date_account_created     213451 non-null  object
 2   timestamp_first_active   213451 non-null  int64
 3   date_first_booking       88908 non-null   object
 4   gender                   213451 non-null  object
 5   age                      125461 non-null  float64
 6   signup_method            213451 non-null  object
 7   signup_flow              213451 non-null  int64
 8   language                 213451 non-null  object
 9   affiliate_channel        213451 non-null  object
 10  affiliate_provider       213451 non-null  object
 11  first_affiliate_tracked  207386 non-null  object
 12  signup_app               213451 non-null  object
 13  first_device_type        213451 non-null  object
 14  first_browser            213451 non-null  object
 15  country_destination      213451 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 26.1+ MB

### Let's check the categorical columns

In [28]:
for col in raw_df.select_dtypes("object").columns:
    if len(raw_df[col].unique()) < 26:
        print("-"*25, f"\n{col} Column\n", "-"*25)
        display(raw_df[col].value_counts())
    elif col != 'id':
        print("-"*25, f"\n{col} Column (Top 10)\n", "-"*25)
        display(raw_df[col].value_counts()[:10])

-------------------------
date_account_created Column (Top 10)
 -------------------------

2014-05-13    674
2014-06-24    670
2014-06-25    636
2014-05-20    632
2014-05-14    622
2014-05-21    602
2014-06-03    602
2014-06-16    598
2014-06-11    593
2014-06-30    590
Name: date_account_created, dtype: int64

-------------------------
date_first_booking Column (Top 10)
 -------------------------

2014-05-22    248
2014-06-11    231
2014-06-24    226
2014-05-21    225
2014-06-10    223
2014-06-19    217
2014-06-25    216
2014-05-14    213
2014-05-28    213
2014-06-17    211
Name: date_first_booking, dtype: int64

-------------------------
gender Column
 -------------------------

-unknown-    95688
FEMALE       63041
MALE         54440
OTHER          282
Name: gender, dtype: int64

-------------------------
signup_method Column
 -------------------------

basic       152897
facebook     60008
google         546
Name: signup_method, dtype: int64

-------------------------
language Column
 -------------------------

en    206314
zh      1632
fr      1172
es       915
ko       747
de       732
it       514
ru       389
pt       240
ja       225
sv       122
nl        97
tr        64
da        58
pl        54
cs        32
no        30
el        24
th        24
id        22
hu        18
fi        14
ca         5
is         5
hr         2
Name: language, dtype: int64

-------------------------
affiliate_channel Column
 -------------------------

direct           137727
sem-brand         26045
sem-non-brand     18844
other              8961
seo                8663
api                8167
content            3948
remarketing        1096
Name: affiliate_channel, dtype: int64

-------------------------
affiliate_provider Column
 -------------------------

direct                 137426
google                  51693
other                   12549
craigslist               3471
bing                     2328
facebook                 2273
vast                      829
padmapper                 768
facebook-open-graph       545
yahoo                     496
gsp                       453
meetup                    347
email-marketing           166
naver                      52
baidu                      29
yandex                     17
wayn                        8
daum                        1
Name: affiliate_provider, dtype: int64

-------------------------
first_affiliate_tracked Column
 -------------------------

untracked        109232
linked            46287
omg               43982
tracked-other      6156
product            1556
marketing           139
local ops            34
Name: first_affiliate_tracked, dtype: int64

-------------------------
signup_app Column
 -------------------------

Web        182717
iOS         19019
Moweb        6261
Android      5454
Name: signup_app, dtype: int64

-------------------------
first_device_type Column
 -------------------------

Mac Desktop           89600
Windows Desktop       72716
iPhone                20759
iPad                  14339
Other/Unknown         10667
Android Phone          2803
Android Tablet         1292
Desktop (Other)        1199
SmartPhone (Other)       76
Name: first_device_type, dtype: int64

-------------------------
first_browser Column (Top 10)
 -------------------------

Chrome             63845
Safari             45169
Firefox            33655
-unknown-          27266
IE                 21068
Mobile Safari      19274
Chrome Mobile       1270
Android Browser      851
AOL Explorer         245
Opera                188
Name: first_browser, dtype: int64

-------------------------
country_destination Column
 -------------------------

NDF      124543
US        62376
other     10094
FR         5023
IT         2835
GB         2324
ES         2249
CA         1428
DE         1061
NL          762
AU          539
PT          217
Name: country_destination, dtype: int64

### Let's Check the numerical Columns

In [29]:
# Get stats for the numerical column
raw_df.describe()

       timestamp_first_active            age    signup_flow
count            2.134510e+05  125461.000000  213451.000000
mean             2.013085e+13      49.668335       3.267387
std              9.253717e+09     155.666612       7.637707
min              2.009032e+13       1.000000       0.000000
25%              2.012123e+13      28.000000       0.000000
50%              2.013091e+13      34.000000       0.000000
75%              2.014031e+13      43.000000       0.000000
max              2.014063e+13    2014.000000      25.000000

In [30]:
# Investigate the questionable objects columns
questionable_cols = ['age']

for col in questionable_cols: 
    print(col)
    unique_values = raw_df[col].unique()
    print(unique_values.tolist())
    print('--------------------------' * 4)
    print()

age
[nan, 38.0, 56.0, 42.0, 41.0, 46.0, 47.0, 50.0, 36.0, 37.0, 33.0, 31.0, 29.0, 30.0, 40.0, 26.0, 32.0, 35.0, 59.0, 49.0, 44.0, 34.0, 28.0, 19.0, 53.0, 52.0, 39.0, 57.0, 25.0, 54.0, 69.0, 63.0, 43.0, 55.0, 65.0, 58.0, 61.0, 18.0, 5.0, 27.0, 45.0, 60.0, 48.0, 51.0, 64.0, 72.0, 70.0, 67.0, 73.0, 2014.0, 104.0, 66.0, 105.0, 68.0, 95.0, 24.0, 94.0, 75.0, 79.0, 62.0, 2013.0, 16.0, 4.0, 23.0, 101.0, 98.0, 76.0, 74.0, 87.0, 92.0, 115.0, 71.0, 84.0, 107.0, 78.0, 99.0, 110.0, 102.0, 82.0, 77.0, 22.0, 89.0, 21.0, 15.0, 20.0, 103.0, 2.0, 17.0, 86.0, 97.0, 81.0, 90.0, 88.0, 80.0, 100.0, 91.0, 106.0, 83.0, 85.0, 108.0, 113.0, 109.0, 93.0, 96.0, 1949.0, 111.0, 1931.0, 1932.0, 112.0, 1928.0, 1.0, 1936.0, 1933.0, 1935.0, 1925.0, 1952.0, 150.0, 1927.0, 132.0, 1953.0, 1942.0, 1995.0, 2008.0, 1924.0, 1929.0, 1947.0, 1938.0, 1926.0]
--------------------------------------------------------------------------------------------------------